@model ForecastResultDTO

@{
    ViewData["Title"] = Model != null ? Model.CityName : "";
}

<div>
    @if (Model != null)
    {
        <div>
            <h1 class="text-center display-6">Forecast for @Model.CityName, @Model.RegionName, @Model.CountryName!</h1>
            <hr />
            @using (Html.BeginForm())
            {
                <p>
                    Include only clear days? @Html.CheckBox("goodTimes")
                    <input type="submit" value="Only good vibes!" />
                </p>
            }
            <table class="table">
                <tr>
                    <th>@Html.ActionLink(nameof(ForecastResultDTO.DailyWeatherData.Date), "ForecastDetails", new { sortOrder = ViewBag.DateSortOrder })</th>
                    <th>@Html.DisplayNameFor(model => model.DailyWeatherEntries![0].Summary)</th>
                    <th>@Html.ActionLink(nameof(ForecastResultDTO.DailyWeatherData.TemperatureData), "ForecastDetails", new { sortOrder = ViewBag.TemperatureSortOrder })</th>
                    <th>@Html.ActionLink(nameof(ForecastResultDTO.DailyWeatherData.RainFall) + " (volume)", "ForecastDetails", new { sortOrder = ViewBag.RainFallSortOrder })</th>
                    <th>@Html.ActionLink(nameof(ForecastResultDTO.DailyWeatherData.WindSpeed), "ForecastDetails", new { sortOrder = ViewBag.WindSpeedSortOrder })</th>
                    <th>@Html.ActionLink(nameof(ForecastResultDTO.DailyWeatherData.Sunrise), "ForecastDetails", new { sortOrder = ViewBag.SunriseSortOrder })</th>
                    <th>@Html.ActionLink(nameof(ForecastResultDTO.DailyWeatherData.Sunset), "ForecastDetails", new { sortOrder = ViewBag.SunsetSortOrder })</th>
                </tr>
                @foreach (var item in Model.FilteredDailyWeatherEntries!)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateFormatted)
                        </td>
                        <td>
                            <img src="@item.WeatherDataEntries![0].IconUrl" height="40" width="40">
                            @Html.DisplayFor(modelItem => item.WeatherDataEntries![0].TitleizedDescription)
                        </td>
                        <td>
                            <p>@Html.DisplayFor(modelItem => item.TemperatureData.Day) <i>(Feels like @Html.DisplayFor(modelItem => item.TemperatureFeelsLikeData.Day))</i></p>
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RainFall)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WindSpeed)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sunrise)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sunset)
                        </td>
                    </tr>
                }
            </table>
        </div>
    }
</div>
